@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url("https://use.typekit.net/hnh0enw.css");

:root {
    --gold-color: #A3883C;
    --black-color: #1f1f1f;
    --grey-color: #282A2E;
    --white-color: #f1f1f1;
    --primary-font: 'Exocet', sans-serif;
    --secondary-font: 'Darker Grotesque', sans-serif;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #a3883c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a3883c;
    border-radius: 16px;
    border: 3px solid #FFF6E9;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}